@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  /* typography */
  --primary-font: "Poppins", sans-serif;
  --font-size: 16px;
  /* colors */
  --primary-font-color: #fff0e9;
  --primary-red: hsl(0, 100%, 74%);
  --primary-green: hsl(154, 59%, 51%);
  --accent-blue: hsl(248, 32%, 49%);
  --neutral-dk-blue: hsl(249, 10%, 26%);
  --neutral-greyish-blue: hsl(246, 25%, 77%);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
}

h1,
h2,
h3,
ul,
li,
p,
a {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* /////////////////////// */
.container {
  /* border: solid 3px red; */
  min-width: 100vw;
  min-height: 100vh;
  background-image: url("../images/bg-intro-mobile.png");
  background-color: var(--primary-red);
  padding: 10vh 4% 0 4%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 5.5vh;
  text-align: center;
}
/* --- top section --- */
section:nth-child(1) {
  color: var(--primary-font-color);
  /* border: solid 3px green; */
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 3vh;
  flex-basis: 30vh;
}

section:nth-child(1) > h2 {
  /* border: solid 2px red; */
  padding: 0 3%;
}

/* --- button section --- */
section:nth-child(2) {
  border: solid 0.5px red;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  gap: 1.5vh;
  flex-basis: auto;
}

section:nth-child(2) > article {
  /* border: solid 1px blue; */
  color: var(--primary-font-color);
  background-color: var(--accent-blue);
  font-size: 0.9rem;
  font-weight: 400;
  padding: 2vh 8vw;
  margin: 1vh 0.5%;
  border-radius: 5%;
}

section:nth-child(2) > article > p > span {
  /* border: solid 1px blue; */
  font-weight: bold;
}

form {
  background-color: #ffffff;
  border-radius: 0.5rem;
}

form > p {
  color: #ceccda;
  font-size: 0.7rem;
  padding: 1.2vh 6%;
}

form > p > span {
  font-weight: bold;
  color: #e88c97;
}

button {
  background-color: #37CC8A;
  color: var(--primary-font-color);
  font-size: 0.8rem;
  border: none;
  padding: 1.7vh 0;
  width: 80vw;
}